* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  background: #efefef;
}

/* navigation bar layout */

body nav {
  position: sticky;
  z-index: 1;
  top: 0;
  display: flex;
  width: 100%;
  height: 4rem;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  background: #ffffff;
}

body nav .container {
  position: relative;
  display: flex;
  width: 1080px;
  height: 4rem;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.25rem;
  color: #ffffff;
}

nav img {
  width: 12%;
}

main {
  display: flex;
  justify-content: center;
  background: #efefef;
}

.dashboard {
  display: grid;
  align-items: center;
  width: 1080px;
  height: 100%;
  padding: 2rem 1.25rem;
}

.content-wrap {
  display: flex;
  margin: 0px 30px;
  height: 28em;
  border: 1px solid #ffffff;
  border-radius: 8px;
  background-color: #ffffff;
}

.content-left {
  position: relative;
  display: flex;
  justify-content: left;
  flex-direction: column;
  padding: 10px 20px 20px 20px;
  margin: 0px;
  height: auto;
  width: 73%;
  text-align: left;
}

.content-right {
  position: relative;
  display: flex;
  justify-content: left;
  flex-direction: column;
  padding: 50px 20px;
  margin: 0px;
  height: auto;
  width: 27%;
  text-align: left;
  background-color: #034aa6;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  color: #efefef;
}

/* Calendar */
.Calendar {
  /* text-align: center; */
  margin: 0 auto;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

.Calendar > thead {
  font-weight: bold;
  color: black;
  text-align: center;
  height: 50px;
}

.Calendar > tbody {
  vertical-align: top;
  text-align: right;
}

tbody td {
  border: 1.5px solid #c4c4c4;
  padding: 2px 7px;
  font-size: 12px;
}

.today {
  background-color: #ffca64;
  cursor: pointer;
}

.days {
  background-color: #ffffff;
  cursor: pointer;
}

.choiceDay {
  background-color: #3e85ef;
  color: #fff;
  cursor: pointer;
}

.main-wrap {
  padding-left: 10px;
  font-size: 12px;
}

.user {
  font-size: 17px;
  margin-top: 5px;
}

.history-wrap {
  font-size: 15px;
  justify-content: space-between;
  overflow: auto;
  max-height: 200px;
}

/* 모달창 관련 css */
.log-review-buttons {
  display: flex;
  flex-direction: row;
}

.studyLog {
  color: black;
  text-decoration: none;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 8px 0px 0px 8px;
  background-color: #ffffff;
  text-align: left;
  font-size: 15px;
  font-weight: 600;
  margin: 10px 0 10px 10px;
  transition: all 0.3s;
  width: 65%;
}

.studyLog:hover {
  cursor: pointer;
}

.studyLog:active {
  background-color: #c4c4c4;
  border: #c4c4c4;
}

.reviewBtn {
  color: black;
  text-decoration: none;
  padding: 10px 2px;
  border: 1px solid #efefef;
  border-radius: 0px 8px 8px 0px;
  background-color: #efefef;
  text-align: center;
  font-size: 13px;
  margin: 10px 10px 10px 0;
  transition: all 0.3s;
  width: 35%;
}

.reviewBtn:hover {
  cursor: pointer;
}

.reviewBtn:active {
  background-color: #c4c4c4;
  border: #c4c4c4;
}

.content-right img {
  position: absolute;
  right: -10px;
  bottom: -2px;
  height: 170px;
  width: auto;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #fefefe;
  margin: auto;
  padding: 20px 20px 10px 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 80%;
  height: 80%;
  overflow: auto;
}

.modal-content-log {
  background-color: #efefef;
  width: 100%;
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #efefef;
  border-radius: 10px;
}
.modal-content-quiz {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #efefef;
  width: 80%;
  margin: auto;
  padding: 30px;
  border: 1px solid #efefef;
  border-radius: 10px;
}

/* .review-container {
  float: right;
  background-color: #efefef;
  width: 50%;
  margin: 10px;
  padding: 15px;
  border: 1px solid #efefef;
  border-radius: 10px;
} */

.close {
  position: absolute;
  right: 20px;
  top: 10px;
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* 뒤로가기 화살표 */
footer {
  position: absolute;
  bottom: 0px;
  padding: 0 1.25rem 1rem 1rem;
}
footer i {
  font-size: 25px;
  color: #034aa677;
}
footer i:hover {
  color: #034aa6;
}

#question {
  width: 100%;
  height: 100%;
  margin: 0 0 15px 0;
}

#answer {
  height: 100%;
  margin: 15px 0 15px 0;
}

#userAnswer {
  width: 100%;
  height: 30px;
  padding: 0 10px;
  margin: 20px 0 0 0;
}

#prevBtn {
  display: flex;
  align-items: center;
  padding: 10px 30px 10px 25px;
  float: left;
  margin-top: 40px;
  margin-left: 25%;
  height: auto;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  background-color: #efefef;
  color: #000000;
  border-radius: 20px;
  border: none;
}
#prevBtn:hover {
  cursor: pointer;
  background-color: #c4c4c4;
}

#nextBtn {
  display: flex;
  align-items: center;
  padding: 10px 25px 10px 30px;
  float: right;
  margin-top: 40px;
  margin-right: 25%;
  height: auto;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  background-color: #034aa6;
  color: #efefef;
  border-radius: 20px;
  border: none;
}
#nextBtn:hover {
  cursor: pointer;
  background-color: #023579;
}

.fa-solid {
  font-size: 12px;
  padding-top: 2px;
}
.fa-angles-left {
  padding-right: 7px;
}
.fa-angles-right {
  padding-left: 7px;
}

#rightAnswer{
  height: 100%;
  color: green;
}

#wrongAnswer{
  height: 100%;
  color: red;
}

