* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Noto Sans KR", sans-serif;
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    background: #efefef;
}

/* navigation bar layout */

body nav {
    position: sticky;
    z-index: 1;
    top: 0;
    display: flex;
    width: 100%;
    height: 4rem;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
    background: #ffffff;
}

body nav .container {
    position: relative;
    display: flex;
    width: 1080px;
    height: 4rem;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.25rem;
    color: #ffffff;
}

nav img {
    width: 12%;
}

main {
    display: flex;
    justify-content: center;
    background: #efefef;
}

.dashboard {
    display: grid;
    align-items: center;
    width: 1080px;
    height: 100%;
    padding: 2rem 1.25rem;
}

.content-wrap {
    display: flex;
    margin: 0px 30px;
    height: 28em;
    border: 1px solid #ffffff;
    border-radius: 8px;
    background-color: #ffffff;
}

.content-left {
    position: relative;
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding: 10px 20px 20px 20px;
    margin: 0px;
    height: auto;
    width: 73%;
    text-align: left;
}

.content-right {
    position: relative;
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding: 50px 20px;
    margin: 0px;
    height: auto;
    width: 27%;
    text-align: left;
    background-color: #034AA6;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    color: #efefef;
}

/* Calendar */
.Calendar {
    /* text-align: center; */
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.Calendar>thead {
    font-weight: bold;
    color: black;
    text-align: center;
    height: 50px;
}

.Calendar>tbody {
    vertical-align: top;
    text-align: right;
}

tbody td {
    border: 1.5px solid #c4c4c4;
    padding: 2px 7px;
    font-size: 12px;
}

.today {
    background-color: #FFCA64;
    cursor: pointer;
}

.days {
    background-color: #FFFFFF;
    cursor: pointer;
}

.choiceDay {
    background-color: #3E85EF;
    color: #fff;
    cursor: pointer;
}

.main-wrap {
    padding-left: 10px;
    font-size: 12px;
}

.user {
    font-size: 17px;
    margin-top: 5px;
}

.history-wrap {
    font-size: 15px;
}

.content-right img {
    position: absolute;
    right: -10px;
    bottom: -2px;
    height: 170px;
    width: auto;
    
}