* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  position: relative;
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  background: #efefef;
}

/* navigation bar layout */

body nav {
  position: sticky;
  z-index: 1;
  top: 0;
  display: flex;
  width: 100%;
  height: 4rem;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  background: #ffffff;
}

body nav .container {
  position: relative;
  display: flex;
  width: 1080px;
  height: 4rem;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.25rem;
  color: #ffffff;
}

nav img {
  width: 12%;
}

main {
  display: flex;
  justify-content: center;
  background: #efefef;
}

main .dashboard {
  margin-top: 3.5%;
  display: grid;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 2rem 1.25rem 1.5rem 1.25rem;
  background: #efefef;
}

/* topics */
.topics {
  display: flex;
  margin: 10px 10px 14px 10px;
  height: 10rem;
}

.topic-first {
  text-decoration: none;
  flex: 1;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 5px 20px;
  height: auto;
  width: auto;
  border: 1px solid #ffffff;
  border-radius: 8px;
  background-color: #ffffff;
  text-align: left;

  margin: 0px 16px 0px 0px;
}

.topic-mid {
  text-decoration: none;
  flex: 1;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 5px 20px;
  height: auto;
  width: auto;
  border: 1px solid #ffffff;
  border-radius: 8px;
  background-color: #ffffff;
  text-align: left;

  margin: 0px 8px 0px 8px;
}

.topic-last {
  text-decoration: none;
  flex: 1;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 5px 20px;
  height: auto;
  width: auto;
  border: 1px solid #ffffff;
  border-radius: 8px;
  background-color: #ffffff;
  text-align: left;

  margin: 0px 0px 0px 16px;
}

#topic1 {
  transition: all 0.8s;
}
#topic1:hover {
  box-shadow: 0px 0px 5px 5px gray;
}
#topic2 {
  transition: all 0.8s;
}
#topic2:hover {
  box-shadow: 0px 0px 5px 5px gray;
}
#topic3 {
  transition: all 0.8s;
}
#topic3:hover {
  box-shadow: 0px 0px 5px 5px gray;
}
#topic4 {
  transition: all 0.8s;
}
#topic4:hover {
  box-shadow: 0px 0px 5px 5px gray;
}
#topic5 {
  transition: all 0.8s;
}
#topic5:hover {
  box-shadow: 0px 0px 5px 5px gray;
}
#topic6 {
  transition: all 0.8s;
}
#topic6:hover {
  box-shadow: 0px 0px 5px 5px gray;
}

/* p */
.info {
  margin-left: 0.9%;
  font-size: 1.5rem;
  color: black;
}

.content {
  clear: both;
  font-size: 1.5rem;
  color: black;
  font-weight: bold;
}

/* img */
.topic-img {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.topic-img img {
  max-width: auto;
  max-height: 5rem;
}

/* 뒤로가기 화살표 */
footer {
  position: absolute;
  bottom: 0px;
  padding: 0 1.25rem 1rem 1rem;
}
footer i {
  font-size: 25px;
  color: #034aa677;
}
footer i:hover {
  color: #034aa6;
}
